@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply scroll-smooth;
    }
    
    body {
        @apply bg-black text-white relative font-sans min-h-screen
    }
}

@layer components {
    .introducing-container{
        position: absolute;
        inset: 0 0 0 0;
        z-index: -1;
        border-radius: 20px;
        background: linear-gradient(45deg, #9657de, #383abe, #389ece, #5248c4, #9657de);
    }

    .contact-button {
        box-shadow: inset 4px 4px 7px rgba(24, 29, 20, 0.25);
        transition-duration: 0.3s;
    }

    .contact-button:hover {
        box-shadow: inset 0px 10px 20px rgba(85, 68, 158, 0.7);
    }
}

@layer utilities {
    .bg-gradient-radial {
        background-image: radial-gradient(circle at 50% 70%, var(--tw-gradient-stops));
    }

    .animate-marquee {
        animation: marquee 50s linear infinite;
    }
    
    @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
}